.head {grid-area: head;}
.card1 {grid-area: card1;}
.card2 {grid-area: card2;}
.card3 {grid-area: card3;}
.card4 {grid-area: card4;}
.card5 {grid-area: card5;}
.card6 {grid-area: card6;}
.foot {grid-area: foot;}

main {
    border-radius: $radius;
    box-shadow: $shadow;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "head "
                         "card1"
                         "card2"
                         "card3" 
                         "card4"
                         "card5"
                         "card6"
                         "foot";
}
