@media screen and (min-width:750px){
    nav{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas: "head head"
                             "card1 card2"
                             "card3 card4"
                             "card5 card6"
                             "foot foot" ;
    }
}
@media screen and (min-width:1200px){
header .info {
    text-align: left;
    flex-direction: row-reverse;
}
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas: "head head head"
                             "card1 card2 card3"
                             "card4 card5 card6"
                             "foot foot foot";
    }
}