$primaryColor : #458ff6;
$textColorLight : #7d7987;
$textColorDark : #18272f;
$textSizeBody : 18px;
$textSizeH1 : 48px;
$textSizeH2 : 36px;
$textSizeH3 : 24px;
$fontWeightLight : 300;
$fontWeightBold : 700;
$shadow : 10px 40px 50px rgba(229, 233, 246, 0.4);
$radius : 20px;
$fontFamily : 'Mulish', sans-serif;